---
layout: layouts/base.njk
title: "Gallery"
pageClass: "gallery"
extraCss: ["gallery"]
logoSrc: "media/logo-white.png"
permalink: "gallery.html"
---

<div class="gallery-container">
  <div id="photos_title"><a href="" target="_blank">~photography~</a></div>
  <div class="box">
    <div class="fig">
      <img src="media/pictures/pinball.JPG" alt="Pinball Pete's - Ann Arbor, MI" loading="lazy" decoding="async">
      <figcaption>PINBALL PETE'S - ANN ARBOR, MI</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/shadows.JPG" alt="Sculpture Park - Denver, CO" loading="lazy" decoding="async">
      <figcaption>SCULPTURE PARK - DENVER, CO</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/volcano.JPG" alt="Mauna Kea - Hawai'i" loading="lazy" decoding="async">
      <figcaption>MAUNA KEA - HAWAI'I</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/construction.jpg" alt="Sveti Stefan, Montenegro" loading="lazy" decoding="async">
      <figcaption>SVETI STEFAN, MONTENEGRO</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/santorini.jpg" alt="Santorini - Greek Islands" class="compact-image" loading="lazy" decoding="async">
      <figcaption>SANTORINI - GREEK ISLANDS</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/mushi.JPG" alt="False Potato Beetle infected by Lancet Liver Fluke" class="compact-image" loading="lazy" decoding="async">
      <figcaption>FALSE POTATO BEETLE (LEPTINOTARSA JUNCTA) infected by the LANCET LIVER FLUKE (DICROCOELIUM DENDRITICUM)</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/switzerland.JPG" alt="Lauterbrunnen - Switzerland" loading="lazy" decoding="async">
      <figcaption>LAUTERBRUNNEN - SWITZERLAND</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/surfing.JPG" alt="Hamoa Beach - Maui" loading="lazy" decoding="async">
      <figcaption>HAMOA BEACH - MAUI</figcaption>
    </div>
    <div class="fig">
      <img src="media/pictures/dome.jpg" alt="Dome" loading="lazy" decoding="async">
    </div>
    <div class="fig">
      <img src="media/pictures/forest_fire.jpg" alt="Uvala Przno, Montenegro" loading="lazy" decoding="async">
      <figcaption>UVALA PRZNO, MONTENEGRO</figcaption>
    </div>
  </div>
  <div id="films_title"><a href="https://www.youtube.com/watch?v=NOBHPHG0K50" target="_blank">~short films~</a></div>
  <div class="videos">
    <video controls>
      <source src="media/videos/world-browser-pt1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video controls>
      <source src="media/videos/world-browser-pt2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video controls>
      <source src="media/videos/telescope.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
