---
layout: layouts/base.njk
title: "Philosophical Theory"
pageClass: "philosophy"
extraCss: ["philosophy"]
logoSrc: "media/logo-black.png"
navDark: true
permalink: "philosophy.html"
---

<div class="school-of-athens">
  <div class="row" id="phil-titles">
    <div class="title" id="physis">
      <img src="media/physis.png" alt="Physis">
    </div>
    <div class="title" id="ethos">
      <img src="media/ethos.png" alt="Ethos">
    </div>
  </div>
  <div class="row">
    <div class="column" id="left-column" onclick="location.href='physis.html';"></div>
    <div class="column" id="right-column" onclick="location.href='ethos.html';"></div>
  </div>
</div>
